<h1><i class="icofont-workers-group"></i> Nossos Clientes e Parceiros</h1>

<div class="clientes">
    <img src="img/clientes/giassi400x400.png" alt="">
    <img src="img/clientes/superlunalog.png" alt="">
    <img src="img/clientes/supermercadobh.jpg" alt="">
    <img src="img/clientes/botecoBraga.jpg" alt="">
    <img src="img/clientes/botecoMarcio.jpg" alt="">
    <img src="img/clientes/botecoSadin.jpg" alt="">
    <img src="img/clientes/botecoQuinta.jpg" alt="">
    <img src="img/clientes/smUnidos.png" alt="">
    <img src="img/clientes/masterChoperia.png" alt="">
    <img src="img/clientes/estacao-bar-e-choperia.jpg" alt="">
</div>

<!-- <div class="card" style="width: 18rem;">
    <img src="../img/clientes/botecoBraga.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="row">
   -->